---
import App from "../../Manager/App";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD Login</title>
</head>
<body>
    <App client:only/>
</body>
</html>