---
import Navbar from "./HomePage/HomeHeader/Navbar";
import HomeBanner from "./HomePage/HomeBanner/HomeBanner";
import HomeCountDown from "./HomePage/HomeCounter/HomeCountDown";
import HomeFooter from "./HomePage/HomeFooter/HomeFooter";
import HomeCouncilor from "./HomePage/HomeCouncilor/HomeCouncilor";
import HomeAds from "./HomePage/HomeAds/HomeAds";
import "./css/index.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Partido Demócrata Misiones" />
		<meta name="description" content="El partido demócrata de Misiones" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta
			property="og:url"
			content="https://partido-democrata-misiones.vercel.app/"
		/>
		<meta property="og:title" content="Partido Demócrata Misiones" />
		<meta
			property="og:description"
			content="El partido demócrata de Misiones"
		/>
		<meta property="og:image" content="/assets/PDBannerMobile.webp" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content="https://partido-democrata-misiones.vercel.app/"
		/>
		<meta property="twitter:title" content="Partido Demócrata Misiones" />
		<meta
			property="twitter:description"
			content="El partido demócrata de Misiones"
		/>
		<meta property="twitter:image" content="/assets/PDBannerMobile.webp" />
		<meta name="keywords" content="partido político, Misiones, democracia, elecciones, candidatos, Posadas" />
		<link rel="canonical" href="https://partido-democrata-misiones.vercel.app/" />

		<title>Partido Demócrata</title>
	</head>
	<body>
		<div class="home-container">
			<div class="navbar-container">
				<Navbar client:only />
			</div>
			<HomeBanner client:load />
			<HomeCountDown client:load />
			<HomeAds client:load />
			<HomeCouncilor client:load />
			<HomeFooter client:load />
		</div>
	</body>
</html>
