---
import Navbar from "../HomePage/HomeHeader/Navbar";
import "./index.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nuestra Propuesta - Partido Democrata</title>
    </head>
    <body>
        <Navbar client:only />
        <article class="our-proposal-container">
            <section class="our-proposal-banner">
                <picture class="our-proposal-image">
                    <source
                        srcset="/assets/NuestraPropuestaPC.webp"
                        media="(min-width: 768px)"
                    />
                    <img
                        src="/assets/NuestraPropuestaMobile.webp"
                        alt="Banner de Nuestra Propuesta"
                    />
                </picture>
            </section>
            <section class="our-proposal-content">
                <p>
                    <strong>El Partido Demócrata de Misiones</strong> es una fuerza
                    política que nace con el compromiso de construir una <strong
                        >democracia más sólida, inclusiva y justa</strong
                    >. Con apenas <strong>4 años de historia</strong>, nuestra
                    tradición se basa en los principios de la <strong
                        >defensa de la vida, la libertad y la propiedad privada</strong
                    >, pilares fundamentales para el desarrollo de una sociedad <strong
                        >libre y equitativa</strong
                    >.
                </p>
                <p>
                    En Misiones, nuestro partido se propone ser una <strong
                        >alternativa política</strong
                    > que promueve la <strong>transparencia</strong>, el <strong
                        >respeto a la ley</strong
                    > y el <strong
                        >fortalecimiento de las instituciones democráticas</strong
                    >. Creemos en una política que antepone los <strong
                        >intereses de los ciudadanos</strong
                    > por encima de los intereses partidarios y que fomente un <strong
                        >debate constructivo y responsable</strong
                    >.
                </p>

                <p>
                    <strong>Nos oponemos a la ley de lemas</strong>, que
                    distorsiona la verdadera representación popular, y abogamos
                    por una <strong>democracia más directa y genuina</strong>.
                    Estamos convencidos de que es necesario <strong
                        >abrir los espacios de participación</strong
                    > y <strong>escuchar a cada misionero</strong>, en cada
                    rincón de nuestra provincia.
                </p>

                <p>
                    Como partido, <strong>trabajamos incansablemente</strong> para
                    ofrecer <strong>soluciones</strong> que favorezcan el <strong
                        >bienestar de los misioneros</strong
                    > y la consolidación de una política de <strong
                        >diálogo y respeto</strong
                    >. Apostamos por la <strong>política de calidad</strong>,
                    sin personalismos ni actitudes que dividan, sino con el <strong
                        >objetivo común de mejorar la calidad de vida de todos</strong
                    >.
                </p>

                <p>
                    <strong>Misión:</strong> Defendemos una política que genere <strong
                        >cambios reales</strong
                    >, respetuosa de nuestras raíces, pero con la mirada puesta
                    en el <strong>futuro</strong>. Somos un partido que cree en
                    el <strong>potencial de Misiones</strong> y en el <strong
                        >poder de la política como herramienta de transformación</strong
                    >.
                </p>

                <p>
                    <strong>Visión:</strong> Queremos ser la <strong
                        >opción política que inspire confianza y acción</strong
                    > en todos los misioneros, un partido donde la <strong
                        >vocación de servicio</strong
                    > y la <strong>responsabilidad cívica</strong> guíen cada una
                    de nuestras acciones.
                </p>

                <p>
                    <strong>Invitamos a todos los misioneros</strong> a ser parte
                    de este proyecto, a <strong
                        >sumarse con su voz y su esfuerzo</strong
                    >, para <strong>transformar nuestra provincia</strong> en un
                    lugar de <strong
                        >más oportunidades, justicia y equidad para todos</strong
                    >.
                </p>

                <p><strong>¡Sumate al CAMBIO que construye!</strong></p>
                <h2 class="our-proposal-title">Nuestro Compromiso Electoral</h2>
                <p>
                    <strong>Estas elecciones</strong> son una gran oportunidad para
                    lograr el <strong
                        >cambio que nuestra provincia necesita</strong
                    > de manera urgente.
                </p>

                <p>
                    Cada voto para los legisladores del <strong
                        >Partido Demócrata de Misiones</strong
                    > es un voto por una <strong
                        >representación honesta, comprometida y orientada al
                        bienestar</strong
                    > de todos los misioneros. Al elegirnos, usted está apoyando
                    a candidatos que pondrán el <strong
                        >interés común por encima de todo</strong
                    >, luchando por <strong
                        >políticas justas, transparentes y responsables</strong
                    >. Nuestros legisladores trabajarán con verdadera <strong
                        >vocación de servicio</strong
                    > para garantizar que las decisiones en la <strong
                        >legislatura de Misiones</strong
                    > y en los <strong>Concejos Deliberantes</strong> respondan a
                    las verdaderas necesidades de la provincia y los municipios,
                    priorizando la <strong
                        >equidad, la justicia, el respeto a la ley y las buenas
                        prácticas democráticas</strong
                    >.
                </p>

                <p>
                    El <strong>Partido Demócrata de Misiones</strong> asume un <strong
                        >compromiso firme y responsable</strong
                    > con la <strong>democracia</strong>, la <strong
                        >transparencia</strong
                    > y las <strong>mejores prácticas democráticas</strong>.
                    Nuestros candidatos están comprometidos con una <strong
                        >política de resultados concretos</strong
                    >, coherente con los <strong>principios republicanos</strong
                    > que guían nuestra visión para la provincia. A continuación,
                    detallamos los <strong
                        >puntos clave de nuestro compromiso electoral</strong
                    >:
                </p>

                <ol>
                    <li>
                        <strong
                            >Defensa del sistema democrático y republicano:</strong
                        > Promoveremos y defenderemos con convicción este sistema.
                        <strong>El respeto al voto</strong> y el cumplimiento de
                        los compromisos con los electores son la base de nuestro
                        contrato electoral.
                    </li>

                    <li>
                        <strong>«Voto-mandato» como compromiso cívico:</strong> Nuestras
                        acciones estarán alineadas con las expectativas de los electores.
                        En caso de incumplimiento, <strong
                            >actuaremos con total transparencia</strong
                        >.
                    </li>

                    <li>
                        <strong>No aumentaremos impuestos:</strong> Rechazamos aumentos
                        que afecten el <strong
                            >bolsillo de los ciudadanos</strong
                        > sin justificación.
                    </li>

                    <li>
                        <strong>Cero aumentos en el gasto político:</strong> No apoyaremos
                        la incorporación innecesaria de empleados ni aumentos salariales
                        a cargos políticos.
                    </li>

                    <li>
                        <strong>No aumentaremos tarifas</strong> a empresas de servicios
                        públicos <strong>con deficiencias</strong>. Exigiremos
                        eficiencia antes de considerar aumentos.
                    </li>

                    <li>
                        <strong
                            >Protección de los derechos de jubilados y empleados
                            públicos:</strong
                        > No avalaremos recortes en sus haberes ni salarios. <strong
                            >Defendemos su dignidad</strong
                        >.
                    </li>

                    <li>
                        <strong>Presupuesto en educación y salud:</strong> No aceptaremos
                        <strong>ajustes ni recortes</strong> en estas áreas fundamentales.
                    </li>

                    <li>
                        <strong
                            >Compromiso con la no reelección inmediata:</strong
                        > Nuestros candidatos no buscarán reelección sin respetar
                        un período equivalente al mandato anterior, fomentando la
                        <strong>renovación política</strong>.
                    </li>

                    <li>
                        <strong
                            >Compromiso con la ética y la transparencia:</strong
                        > No emplearemos a familiares ni amigos en cargos públicos.
                        <strong>Rechazamos el nepotismo</strong>.
                    </li>

                    <li>
                        <strong>Reducción del gasto político:</strong> Los empleados
                        contratados bajo nuestro mandato <strong
                            >no continuarán</strong
                        > al finalizarlo, garantizando eficiencia y ahorro.
                    </li>

                    <li>
                        <strong
                            >Promoción de un debate democrático y honesto:</strong
                        > Combatiremos la <strong>desinformación</strong> y las <strong
                            >fake news</strong
                        >, defendiendo una campaña limpia.
                    </li>

                    <li>
                        <strong
                            >Reivindicación de nuestra historia cultural común:</strong
                        > Apostamos a una <strong>Misiones unida</strong> y rechazamos
                        divisiones basadas en el uso político de la historia.
                    </li>

                    <li>
                        <strong
                            >Lucha contra la corrupción y promoción de la “Ficha
                            Limpia”:</strong
                        > Apoyamos esta iniciativa y construiremos una agenda pública
                        de <strong>prevención y control ciudadano</strong>.
                    </li>

                    <li>
                        <strong
                            >Promoción de la paridad de género y la inclusión
                            juvenil:</strong
                        > Aplicamos <strong>paridad y alternancia</strong> en nuestras
                        listas e incluimos activamente a los jóvenes.
                    </li>

                    <li>
                        <strong
                            >Rechazo a la Ley de Lemas y promoción de la Boleta
                            Única de Papel:</strong
                        > Defendemos un sistema <strong
                            >transparente, claro y equitativo</strong
                        > para que cada voto cuente como debe.
                    </li>
                </ol>
            </section>
        </article>
    </body>
</html>
