---
import "./index.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tu voto importa - Partido Democrata</title>
    </head>
    <body>
        <section class="vote-container">
            <article class="vote-banner">
                <picture class="vote-image">
                    <source
                        srcset="/assets/PDBannerPC.webp"
                        media="(min-width: 768px)"
                    />
                    <img
                        src="/assets/PDBannerMobile.webp"
                        alt="Banner de Nuestra Propuesta"
                    />
                </picture>
            </article>
        </section>
    </body>
</html>
